body {
background-color: #0FA4AF;
font-family: 'Trebuchet MS';
text-align: center;
margin: 0;
}

h1 {
font-size: 40px;
text-shadow: 0px 0px 8px blue;
}

button {
background-color: darkgrey;
box-shadow: 0px 0px 40px green;
border-radius: 10px;
padding: 10px 15px;
font-size: 18px;
cursor: pointer;
}

.active-btn {
outline: 3px solid white;
}

.card {
background-color: gainsboro;
margin: 20px 100px;
padding: 20px;
border-radius: 15px;
box-shadow: 0px 0px 20px yellow;
}

.Foto {
position: fixed;
top: 10px;
right: 20px;
height: 140px;
border-radius: 10px;
box-shadow: 0px 0px 20px yellow;
}

.tab {
display: none;
}

.tab.active {
display: block;
animation: fade 0.2s ease-in;
}

@keyframes fade {
from {opacity: 0;}
to {opacity: 1;}
}